{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    My submite|home
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
     <h3 class="home-content">Welcome to my website</h3>
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <!--今天24小时内的热门博客-->
    <div class="hot-day">
        <h3>Today Hot Attract</h3>
            <ul>
                {% for  hot_data in today_hot_data%}    
                    <li>
                        <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{hot_data.read_num}})
                    </li>
                {% empty %}
                    <li>No One Watching</li>
                {% endfor %}
            </ul>
    </div>
    <div class="hot-day">
        <h3>Yesterday Hot Attract</h3>
            <ul>
                {% for  hot_data in yesterday_hot_data%}    
                    <li>
                        <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{hot_data.read_num}})
                    </li>
                {% empty %}
                    <li>No One Watching</li>
                {% endfor %}
            </ul>
    </div>
    <div class="hot-day">
        <h3>Sevendays Hot Attract</h3>
            <ul>
                {% for  hot_data in days_hot_data_7 %}    
                    <li>
                        <a href="{% url 'blog_detail' hot_data.object_id %}">adc</a>({{hot_data.read_num_sum}})
                    </li>
                {% empty %}
                    <li>No One Watching</li>
                {% endfor %}
            </ul>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title:{ text:'Recently page view' }
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}